* {
    /* estilo para toda la pagina */
    box-sizing: border-box;

}       

/* estilo general del body*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
/************************************/
/*     Estilos media queries        */
/************************************/
/* Estilos responsive para página */
/*      Productos y Servicios     */
/************************************/

@media screen and (max-width:600px) {
    
    footer{
        height: 1vh;
        font-size: 1.2vh;
               
    }
    footer>ul.list-group{
        font-size: 100%;
    }
    
    
    .header{
        padding: 0.5rem;
        margin: 0.5rem;
        background-color: whitesmoke;
    }

   

    .main{
        font-size: 80%;
        height: auto;
        margin: 0.5em 1em;
        padding: 0.5em;
        max-height: max-content;
    }

        
}
/* Segundo Punto de quiebre */
@media screen and (max-width:788px) {
    .nav.navbar{
        display: flex;
        background-color: tomato;
    }
    footer{
        
        width: 100%;
        height: auto;
        font-size: auto;
               
    }
    footer>ul.list-group{
        font-size: 100%;
        
    }
    .grid-container{
        display: flex;
        flex-direction: column;
        
    }
    
    
    
    .row,
    .navbar {
        flex-direction: column;
        height: 1vh;
    }

    .navbar a {
        font-size: 80%;
        height: 80%;
    }
    img{
        display: inline-block;
        width: 100%;
    }
    
}
/************************************/
/*     Estilo por defecto           */
/************************************/

/*Estilos de titulos*/
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 4em;
    color: rgba(233, 137, 13, 0.95);
    
}
h3{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2em;
    color: rgba(236, 157, 54, 0.95);
}

/*barras de navegacion*/
.navbar {
    display: flex;
    background-color: #333;
    color: grey;
    text-align: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    
}

.nav-link{
    color: grey;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin: 0;
    align-content: space-between;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 0.5em;
    margin: 0;
    align-content: space-between;
    
}


/*estilo mouseover*/
.navbar>a:hover, .nav-link:hover {
    background-color: rgba(241, 224, 224, 0.178);
    color: black;
    
}

/**********************/ 
/* grid pagina inicio */
/**********************/
.container-inicio{
    display: grid;
    grid-gap: 10px 5px;
    
    background-color: white;
    
    grid-template-areas: "nav   nav"
                        "header header"
                        "item1  item1"
                        "item2  item2"
                        "footer footer";     

    grid-auto-flow: row;    
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
                   

}

.navbar{
    grid-area: nav;
    
}
.header{
    grid-area: header;
    justify-self: center;
    align-self: center;
}

main.item1{
    grid-area: item1;
    margin-left: 10%;
}
main.item2{
    grid-area: item2;
    text-align: justify;
    align-self: center;
    margin-left: 10%;
    text-decoration-style: solid;
    color: #000;
    text-decoration-thickness: 15vh;
}


/* Imagenes del grid inicio*/
img.imagen-grid{
    width:  15%;
    opacity: 25%;
}

/***********************************/
/*grid pagina productos y servicios*/
/***********************************/
div.container-productos {
    display: grid;
    grid-template-areas: "nav nav"
                        "header header"
                        "grid-item1 grid-item1"
                        "grid-item2 grid-item2"
                        "grid-item3 grid-item3"
                        "grid-item4 grid-item4"
                        "grid-item5 grid-item5"
                        "footer footer";
                        
    
    grid-template-rows: repeat(8, auto);
    background-color: rgb(235, 233, 231);
    grid-gap: 1em;
    
    
}
nav.navbar{
    grid-area: nav;
}
header.header{
    grid-area: header;
}
main.grid-item1{
    grid-area: grid-item1;
   
}
main.grid-item2{
    grid-area: grid-item2;
    
}
main.grid-item3{
    grid-area: grid-item3;
}
main.grid-item4{
    grid-area: grid-item4;
    
}
main.grid-item5{
    grid-area: grid-item5;
    display: inline;
        
}
main{
    margin: auto 10em;
    justify-content: center;
}

.image-grid img{
    height: 40%;
    width: 60%;
    padding-bottom: 0.5em;
    
}

main li{
    display: flex;
    
}
main > p{
    justify-content: left;
    margin-right: 2em;
    font-style: oblique;
}
main>p::first-letter{
    margin-left: 1em;
    font-weight: bolder;
}


/**********************/
/*grid pagina contacto*/
/**********************/
.container-contacto{
    display: grid;
    grid-template-areas: "nav nav"
                        "header header"
                        "form form"
                        "footer footer";
    grid-template-rows: repeat(4, auto);

}
nav.navbar{
    grid-area: nav;
}
header.header{
    grid-area: header;
}
form.form-contacto{
    grid-area: form;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: 20%;
    font-weight: bold;
    color: #333;
    
    
}
fieldset{
    width: 70%;
    margin-bottom: 5em;
    
}

legend{
    font-weight: bolder ;
}

label{
    display: inline-block;
    margin: 1em;
}
input, select{
    height: 2.5em;
    width: 10em;
}

textarea{
    width: 20em;
    height: 10em;
}
.botones{
    display: inline-flex;
    justify-self: center;
    
    margin: 0 1vh;
    margin-bottom: 1em;
    
}

/*footer de los grid*/
footer.footer{
    grid-area: footer;
    display: flex;
    background-color: rgb(24, 23, 23);
    color: white;
    position: sticky;
    margin-bottom: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    


}

.footer > a{
    padding: 0.5em;
}
  
  
        

li>a{
    color:white;
    text-decoration: none;
}

li{
   display: inline;
   padding: 0.5em;
}
        
    

/*estilo seccion usuarios en nav*/
.fa-user,.fa-user-plus{
    color: gray;
    padding: 0.5em;
    margin: 0.1em 0.5em;
    font-size: 0.8em;
}
#usuarios{
    float: right;
       
}

/*pie de paginas de toda la web*/


.fa-instagram-square{
    color:rgb(155, 48, 197);
    font-size: 0.8em;
    margin: auto auto;
}

.fa-facebook{
    color: rgb(49, 49, 136);
    font-size: 0.8em;
    margin: auto auto;
}

footer > a:hover{
    background-color: grey;

}


/*estilos pagina establecimientos*/
/*contenedor mapa y medios de comunicacion*/

div.container-map{
    display: grid;
    grid-template-areas: "nav nav"
                        "header header"
                        "item1 item1"
                        "item2 item2"
                        "footer footer";
    grid-auto-flow: rows;   
    grid-template-rows: repeat(5, auto);
    grid-gap: 1em;


}
nav.navbar{
    grid-area: nav;
}
header.header{
    grid-area: header;
}
main.item1{
    grid-area: item1;
    margin-left: 10em;

}
main.item2{
    grid-area: item2;
    align-self: center;
}

iframe{
    width:100%;
    height: auto;
    border:0 2em;
}
/*icono mail*/
.fa-at{
    color: rgb(101, 24, 243);
    font-size: 1.5em;
}
/*icono whatsapp*/
.fa-whatsapp-square{
    
    color: rgb(59, 146, 59);
    font-size: 1.5em;
}
/*contacto telef y mail*/
.fa-map-marked-alt{
    color:rgb(24, 23, 23);
    font-size: 1.5vw;
}
.container-map{
    display: flex;
    height: auto;
    width: auto;
}
