/************************************/
/*pagina de estilos para formularios*/
/*     de ingreso y registro        */ 
/************************************/


* {
    /* estilo para toda la pagina */
    box-sizing: border-box;

}       
/*estilos media*/
@media  screen and (max-width:600px) {
	.nav-item{
		font-size: x-small;
	}
	.navbar{
		height: fit-content;

	}
	header.header h1{
		display: flex;
		flex-direction: column;
        text-align: center;
        margin-top: 0.8em;
    }

	div.card-body{
		width: 100%;
	}
	form{
		
		padding-top: 0.5em;
		font-size: 0.1em;
		margin-top: 0.1em;
	}
	.form-ingreso{ 
		width:100%;
		height: auto;
		margin:0em;
	}
}
@media screen and (max-width:788px){
	.nav-item{
		font-size: small;
		margin: 0.1em 0.2em; 
	}
	a.nav-link{
		font-size: smaller;
		margin:0;
		padding: 0.2em 0.3em;
	}
}


/* estilo general del body*/
html,body { 
	height: auto; 
	width: 100%;
	margin:0;
	padding: 0;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 4em;
    color: rgba(233, 137, 13, 0.95);
    
}
.container-fluid{
	justify-content: space-between;
}

.global-container{
	display: flex;
	width: 100%;
	height:100%;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form{
	padding-top: 2em;
	font-size: 1em;
	margin-top: 1em;
}

.card-title{ font-weight:400; }

.btn{
	font-size: 1.2em;
	margin-top:1.8em;
}


.registrarme{
	text-align:center;
	padding:2em 0 0;
}
.navbar{
	justify-content: space-between;
}

.nav-item{
	
	padding:auto 2rem;
	margin: 0em 3rem;
	font-weight: 500;

}
.nav-item a:hover{
	background-color: grey;
	color:white;
}


.footer{
	background-color: black;
	position: fixed;

	width: 100%;
	justify-content: center;
	text-align: center;
	color: white;
	font-weight: bold;
	align-items: center;
	margin: 2rem 0 0 0;
	padding: 1rem 0 0 0; 
}

.footer > a{
    padding: 0.5rem;
}

footer > a:hover{
    background-color: rgb(136, 134, 132);
	padding: auto;

} 
.fa-instagram-square{
    color:rgb(150, 69, 182);
    font-size: 1rem;
    margin: auto;
	padding: auto;
}

.fa-facebook{
    color: rgb(49, 49, 136);
    font-size: 0.8em;
    margin: auto auto;
}