* {
    /* estilo para toda la pagina */
    box-sizing: border-box;

}       

/* estilo general del body*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
/************************************/
/*     Estilos media queries        */
/************************************/
/* Estilos responsive para página */
/*      Productos y Servicios     */
/************************************/

@media screen and (max-width:600px) {
  

        
}
/* Segundo Punto de quiebre */
@media screen and (max-width:788px) {
    

}
/************************************/
/*     Estilo por defecto           */
/************************************/

/*Estilos de titulos*/
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 4em;
    color: rgba(233, 137, 13, 0.95);
    
}
h3{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2em;
    color: rgba(236, 157, 54, 0.95);
}

/*barras de navegacion*/
.navbar {
    display: flex;
    background-color:#333;
    color: grey;
    text-align: center;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    
}

.nav-link{
    color: grey;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin: 0;
    align-content: space-between;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    align-self: center;
    padding: 0.5em;
    margin: 0;
          
}


/*estilo mouseover*/
.navbar>a:hover, .nav-link:hover {
    background-color: rgba(241, 224, 224, 0.178);
    color:white;
    font-weight: bold;
    
}

/**********************/ 
/* grid pagina inicio */
/**********************/
.container-inicio{
    display: grid;
    grid-gap: 10px 5px;
    
    background-color: white;
    
    grid-template-areas: "nav   nav"
                        "header header"
                        "item1  item1"
                        "item2  item2"
                        "footer footer";     

    grid-auto-flow: row;    
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5, auto);
                   

}

nav.navbar{
    grid-area: nav;
    
}
header.header{
    grid-area: header;
    justify-self: center;
    align-self: center;
}

main.item1{
    grid-area: item1;
    
    
}

main.item2{
    grid-area: item2;
    text-align: justify;
    align-self: center;
    text-decoration-style: solid;
    color: #000;
    
}


/* Imagenes del grid inicio*/
.imagen-grid{
    width: 100%;
    opacity: 25%;
}

/*******************************/
/* pagina productos y servicios*/
/*******************************/
div.container-productos {
    display: grid;
    grid-template-areas: "nav nav"
                        "header header"
                        "grid-item1 grid-item1"
                        "grid-item2 grid-item2"
                        "grid-item3 grid-item3"
                        "grid-item4 grid-item4"
                        "grid-item5 grid-item5"
                        "footer footer";
                        
    
    grid-template-rows: repeat(8, auto);
    background-color: rgb(235, 233, 231);
    grid-gap: 1em;
    
    
}
nav.navbar{
    grid-area: nav;
}
header.header{
    grid-area: header;
}
main.grid-item1{
    grid-area: grid-item1;
    
   
}
main.grid-item2{
    grid-area: grid-item2;
    
}
main.grid-item3{
    grid-area: grid-item3;
}
main.grid-item4{
    grid-area: grid-item4;
    
}
main.grid-item5{
    grid-area: grid-item5;
    display: inline;
        
}
.image-grid img{
    width: 70%;
    margin-left: 2em;
    justify-self: center;
}
main{
    margin: auto auto;
    justify-content: center;
}

main li{
    display: flex;
    
}
main > p{
    justify-content: left;
    margin-right: 2em;
    color:#333;
}
main>p::first-letter{
    margin-left: 1em;
    font-weight: bolder;
    
}


/*****************/
/*pagina contacto*/
/*****************/
.container-contacto{
    display: grid;
    grid-template-areas: "nav nav"
                        "header header"
                        "form form"
                        "footer footer";
    grid-template-rows: repeat(4, auto);

}
nav.navbar{
    grid-area: nav;
}
header.header{
    grid-area: header;
}
form.form-contacto{
    grid-area: form;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: 20%;
    font-weight: 500;
    color: #333;
    
    
}
fieldset{
    width: 70%;
    margin-bottom: 5em;
    
}

legend{
    font-weight: 600 ;
}

label{
    display: inline-block;
    margin: 0.5em;
}
input, select{
    height: 2.5em;
    width: 10em;
}

textarea{
    width: 20em;
    height: 10em;
}
.botones{
    display: inline-flex;
    justify-self: center;
    
    margin: 0 1vh;
    margin-bottom: 1em;
    
}

/*footer de los grid*/
footer.footer{
    grid-area: footer;
    display: flex;
    background-color:black;
    color: grey;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
}

.footer > a{
    padding: 0.5em;
}
footer > a:hover{
    background-color: rgb(214, 205, 205);

} 
  
li>a{
    color:white;
    text-decoration: none;
}

li{
   display: inline;
   padding: 0.5em;
}
        
    

/* ingreso y registro en nav */
.fa-user,.fa-user-plus{
    color: gray;
    padding: 0.5em;
    margin: 0.1em 0.5em;
    font-size: 0.8em;
}


/*****iconos de footer*******/

.fa-instagram-square{
    color:rgb(150, 69, 182);
    font-size: 0.8em;
    margin: auto auto;
}

.fa-facebook{
    color: rgb(49, 49, 136);
    font-size: 0.8em;
    margin: auto auto;
}



/*************************/
/*pagina establecimientos*/
/*************************/

div.container-map{
    display: grid;
    grid-template-areas: "nav nav"
                        "header header"
                        "item1-estable item1-estable"
                        "item2-estable item2-estable"
                        "footer footer";
    grid-auto-flow: column;   
    grid-template-rows: repeat(5, auto);
    grid-gap: 1em;
    height: 100%;


}
nav.navbar{
    grid-area: nav;
}
header.header{
    grid-area: header;
}
main.item1-estable{
    grid-area: item1-estable;
    
}
main.item2-estable{
    grid-area: item2-estable;
    height: 100%;
    width: auto;
    align-self: left;
}

iframe{
    width:100%;
    height: auto;
    border:0 2em;
}
/*icono mail*/
.fa-at{
    color: rgb(101, 24, 243);
    font-size: 1.5em;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
}
/*icono whatsapp*/
.fa-whatsapp-square{
    color: rgb(59, 146, 59);
    font-size: 1.5em;
    
}
/*contacto telef y mail*/
.fa-map-marked-alt{
    color: blueviolet;
    font-size: 2vw;
    margin: 0.5em;
    
}
.container-map{
    display: flex;
    height: auto;
    width: auto;
}

/********************/
/*Efectos transicion*/
/********************/
.fa-user, .fa-user-plus {
    transition:  font-size 0.2s, color 0.2s;
    transition-timing-function: ease-out;
    
  }
  
 .fa-user:hover,.fa-user-plus:hover{
    color: white;
    background-color: rgb(91, 63, 168);
    font-size: 0.8em;
    padding: 0.8em;
    border: solid;
  }

  /*animacion*/
     
  @keyframes example {
    from {transform: rotate(-90deg); font-size: 1em;}
    to {transform: rotate(360deg)}
  }
