* {
    /* estilo para toda la pagina */
    box-sizing: border-box;

}       

/* estilo general del body*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
/************************************/
/*     Estilos media queries        */
/************************************/
/* Estilos responsive para página */
/*      Productos y Servicios     */
/************************************/

@media screen and (max-width:600px) {


    div.lista_oculta{
        visibility: visible;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: fixed;
        background-color: black;
        color: white;
        width: 100%;
            
    }

    .lista_oculta ul > li{
        margin: 0;
        list-style: none;
        font-size: 2.5vw;
        padding: 0 0.3em;
    }
    ul li > a{
        width: auto;
        padding: 0.5em;

    }
    
    ul li>a:hover {
        background-color: grey;
        color:white;
        font-weight: bold;
        
        
    }
    .fa-sign-in-alt, .fa-user-plus{
        transition:  none;
        
    }
    
       
     /*oculta la barra de navegacion por default*/
    .navbar{
       visibility: collapse;
       /*margin-top: -999;*/
       
    }

    header.header, .header{
        display: flex;
        flex-wrap: nowrap ;
        
        margin: 1em;
        padding: 0.8em;
        align-self: center;
    }

    header>h1{
        text-align: center;
        font-size: 0.8em;
    }

    main.item1 {
        width: 100%;
        height: 10%;
        margin: 0.1em 0.1em;
        
    }  

    main.item2{
        display: block;
        justify-content: left;
        margin: 0.1em 0.1em;
        width: 95%;
        
    }
    
    main.item2 > p{
        font-size: 0.7em;
        text-align:justify;
        
    }
    div.image-grid{
        justify-items: center;
        margin-left: 20%;
    }
    main.grid-item1{
        display: flex;
        flex-direction: column;
        text-align: justify;
        margin-left: 0.5em 0.5em;
    }
    fieldset{
        width: 60%;
        margin-bottom: 0;
        padding-bottom: 0;
        
    }


           
}
/* Segundo Punto de quiebre */
@media screen and (max-width:788px) {
    nav.navbar{
        font-size: 0.9em;
    }
    header.header{
        padding-top: 0em;
        margin-top: 0;
    }
    header  h1{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-self: center;
    font-size: 3em;
    }
    fieldset{
        width: 60%;
        margin-bottom:0;
        
    }

}
/************************************/
/*     Estilo por defecto           */
/************************************/

/*estilo comun*/
  .lista_oculta{
    visibility: hidden;
    margin-top:0;
    padding-top:0;
}
  

/*Estilos de titulos*/
header>h1{
    
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 4em;
    color: rgba(233, 137, 13, 0.95);
    
}
h3{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2.5em;
    color: rgba(233, 147, 34, 0.95);
    text-shadow: 2px 1px 3px saddlebrown;
}
 main span{
    display:inline;
    margin-left: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

/*barras de navegacion*/
.navbar {
    display: flex;
    background-color:#333;
    color: grey;
    text-align: center;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    
}

.nav-link{
    color: grey;
    padding: 0;
    margin: 0;
    text-decoration: none;
    margin: 0;
    align-content: space-between;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    align-self: center;
    padding: 0.5em;
    margin: 0;
          
}


/*estilo mouseover*/
.navbar>a:hover, .nav-link:hover {
    background-color: rgba(241, 224, 224, 0.178);
    color:white;
    font-weight: bold;
    
}

i.fas{
    padding:0.5em;

}

/**********************/ 
/* grid pagina inicio */
/**********************/
.container-inicio{
    display: grid;
    grid-gap: 10px 5px;
    
    background-color: white;
    
    grid-template-areas: "nav   nav"
                        "header header"
                        "item1  item1"
                        "item2  item2"
                        "footer footer";     

    grid-auto-flow: row;    
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, auto);
                   

}

nav.navbar{
    grid-area: nav;
    
}
header.header{
    grid-area: header;
    justify-self: center;
    align-self: center;
}

main.item1{
    grid-area: item1;
    text-align: center;
    
}

main.item2{
    grid-area: item2;
    text-align: justify;
    align-self: center;
    text-decoration-style: solid;
    color: #000;
    
}


/* Imagenes del grid inicio*/
.imagen-grid{
    width: 100%;
    opacity: 25%;
   
}

/*******************************/
/* pagina productos y servicios*/
/*******************************/
div.container-productos {
    display: grid;
    grid-area: 50% 50%;
    background-color: rgb(235, 233, 231);
    grid-gap: 1em;
    height: auto;
    width: 100%;
    
}
nav.navbar{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
header.header{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
}

main.grid-item1{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
     
}
main.grid-item2{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
main.grid-item3{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
}
main.grid-item4{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
main.grid-item5{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 3rem;
    
}
main > a{
    justify-content: center;
    align-items: center;
}
footer.footer{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
}
.image-grid > img{
    width: 80%;
    margin: auto;
    padding-right: 2em;
    display: flex;
}
main{
    margin: 0.3rem;
    justify-content: justify;
}

main li{
    display: flex;
    
}

main>p::first-letter{
    margin-left: 1em;
    font-weight: bolder;
}


/*****************/
/*pagina contacto*/
/*****************/
.container-contacto{
    display: grid;
    grid-template-areas: "nav nav"
                        "header header"
                        "form form"
                        "footer footer";
    grid-template-rows: repeat(4, auto);

}
nav.navbar{
    grid-area: nav;
}
header.header{
    grid-area: header;
}
form.form-contacto{
    grid-area: form;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: 10%;
    font-weight: 500;
    color: #333;
}

fieldset{
    width: 60%;
    margin-bottom: 2em;
    
}

legend{
    font-weight: 600 ;
}

label{
    display: inline-block;
    margin: 1em 0em;
}

textarea{
    width: 80%;
    height: 10em;
}
.botones > input{
    font-size: 1.2em;
    width: 100%;
    background-color: grey;
    border-radius: 0.3em;
    margin: 1em;
}

div.botones{
    display: inline-flex;
    width: 30%;
    justify-items: center;
}

/*footer de los grid*/
footer.footer{
    grid-area: footer;
    display: flex;
    background-color:black;
    color: grey;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
}

.footer > a{
    padding: 0.5em;
}
footer > a:hover{
    background-color: rgb(214, 205, 205);

} 
  
li>a{
    color:white;
    text-decoration: none;
}

li{
   display: inline;
   padding: 0.5em;
}
        
    

/* ingreso y registro en nav */
.fa-sign-in-alt,.fa-user-plus{
    color: gray;
    padding: 0.5em;
    margin: 0.1em 0.5em;
    font-size: 0.8em;
}


/*****iconos de footer*******/

.fa-instagram-square{
    color:rgb(150, 69, 182);
    font-size: 0.8em;
    margin: auto auto;
}

.fa-facebook{
    color: rgb(49, 49, 136);
    font-size: 0.8em;
    margin: auto auto;
}



/*************************/
/*pagina establecimientos*/
/*************************/

div.container-map{
    display: grid;
    grid-template-areas: "nav nav"
                        "header header"
                        "item1-estable item1-estable"
                        "item2-estable item2-estable"
                        "footer footer";
    grid-auto-flow: column;   
    grid-template-rows: repeat(5, auto);
    grid-gap: 1em;
    height: 100%;


}
nav.navbar{
    grid-area: nav;
}
header.header{
    grid-area: header;
}
main.item1-estable{
    grid-area: item1-estable;
    
}
main.item2-estable{
    grid-area: item2-estable;
    height: 100%;
    width: auto;
    align-self: left;
}

iframe{
    width:100%;
    height: auto;
    border:0 2em;
    margin: auto;
}
/*icono mail*/
.fa-at{
    color: rgb(101, 24, 243);
    font-size: 1.5em;
    animation-name: agrandar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
/*icono whatsapp*/
.fa-whatsapp-square{
    color: rgb(59, 146, 59);
    font-size: 1.5em;
    animation-name: agrandar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}
/*contacto telef y mail*/
.fa-map-marked-alt{
    color: blueviolet;
    font-size: 2vw;
    margin: 0.5em;
    
}
.container-map{
    display: flex;
    height: auto;
    width: auto;
}

/********************/
/*Efectos transicion*/
/********************/
.fa-sign-in-alt, .fa-user-plus{
    transition:  font-size 0.2s, color 0.2s;
    transition-timing-function: ease-out;
    
}

.fa-sign-in-alt:hover, .fa-user-plus:hover{
    color: white;
    background-color:black;
    font-size: 0.8em;
    padding: 0.8em;
    border: solid;
}

/***********************************************/
/*Efecto animacion en página Donde encontrarnos*/
/***********************************************/
     
@keyframes agrandar {
    0% {transform: scale(.75,.75)}
    50% {transform: scale(1,1)}
}
